<section  id="aboutUs">

  <div class="row" id="au1">
    <div class="col-md-1" id="first">

      <h2>
        A
      </h2>
      <br />
      <h2>
        B
      </h2>
      <br />
      <h2>
        O
      </h2>
      <br />
      <h2>
        U
      </h2>
      <br />
      <h2>
        T
      </h2>
    </div>
    <div class="col-md-4" id="au2">
      <h1>
        Helping Students Navigate the complex maze of projects and deadlines
      </h1>
      <br />
    </div>

    <div class="col-md-4" id="second">
      <p>
        <a href="#" class="underlined underlined--offset" style="font-size: 15px">
          We envision to help students exceed all rigorous academic standards and high expectations district
          benchmarks, knowing that it is effort, perseverance, and resiliency that will lead to success throughout life.
        </a>
      </p>
      <br /><br />
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class="col-md-4" id="comp1">
      <h4>Others</h4>
      <ol>
        <li>Lack of Personal touch</li>
        <li>Large writers pool</li>
        <li>Unpredictable quality of work</li>
        <li>Expensive</li>
      </ol>
    </div>
    <div class="col-md-2" id="ssanim">
      <div class="seesaw">
        <div class="seesaw-top">
          <div class="man manleft">
            <div class="man-upper">
              <div class="man-lower"></div>
            </div>
          </div>
          <div class="loadbox">Hello</div>
          <div class="man manright">
            <div class="man-upper">
              <div class="man-lower"></div>
            </div>
          </div>
        </div>
        <div class="seesaw-bottom"></div>
      </div>
    </div>
    <div class="col-md-4" id="comp2">
      <h4>Us</h4>
      <ol>
        <li>Unique to you </li>
        <li>Limited writers team  </li>
        <li>Quality centred</li>
        <li>Cost effective</li>
      </ol>
    </div>
  </div>


  <br />
  <div class="row " id="image">
    <div class="col-sm-4  animated fadeInLeft" id="au3">
      <h1 class="text" id="stywrd">
        What Do We Do?
      </h1>
      <h4>
        We provide online writing assistance in
      </h4>
      <p>
        - Literature Review
      </p>
      <p>
        - Dissertation Writing .
      </p>
      <p>
        - Essay/ Assignment
      </p>
      <p>
        - Project Coursework.
      </p>
      <p>
        - Research Paper Assistance
      </p>
      <p>
        - Methodology
      </p>
      <br />
    </div>
  </div>
</section>



