<section id="aboutUs">

  <div class="row" id="au1">
    <div class="col-md-1" id="first">

      <h6>
        A
      </h6>
      <br />
      <h6>
        B
      </h6>
      <br />
      <h6>
        O
      </h6>
      <br />
      <h6>
        U
      </h6>
      <br />
      <h6>
        T
      </h6>
    </div>
    <div class="col-md-4" id="au2">
      <h1>
        Helping Students Navigate the complex maze of projects and deadlines
      </h1>
      <br />
    </div>

    <div class="col-md-4" id="second">
      <p><mark>We envision to help students exceed all rigorous academic standards and high expectations district benchmarks, knowing that it is effort, perseverance, and resiliency that will lead to success throughout life.</mark></p>
      <br /><br />
    </div>
  </div>
  <br /><br /><br />



  <br /><br /><br />
  <div class="row " id="image">
    <div class="col-sm-4  animated fadeInLeft" id="au3">
      <h1 class="text" id="stywrd">
        What Do We Do?
      </h1>
      <h4 >
        We provide online writing assistance in
      </h4>
      <p>
        - Literature Review
      </p>
      <p>
        - Dissertation Writing .
      </p>
      <p>
        - Essay/ Assignment
      </p>
      <p>
        - Project Coursework.
      </p>
      <p>
        -Research Paper Assistance
      </p>
      <p>
        - Methodology
      </p>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"></div>
  </div>
  <div class="row">


  </div>
  <div id="image"></div>

  <br /><br />

</section>



