<div class="col-sm-5">
  <div class="box">

    <form method="POST" class="appointment-form" id="appointment-form">
      <div class="row">
        <div class="col-sm-12" id="sub">
          <h2 id="textdeco">Project Submission Form</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group-1">
            <p class="title">Project Title</p>
            <input type="text" id="title" placeholder="Enter short title of your Project" required />
            <p class="title">Project Type</p>
            <select name="Project_type" id="Project_type" placeholder="Project_type">
              <option slected value="">Course Type</option>
              <option value="Essay">Essay</option>
              <option value="Research Proposal">Research Proposal</option>
              <option value="Research Paper">Research Paper</option>
            </select>
            <p class="title">Deadline</p>
            <input type="date" id="Deadline" placeholder="Deadline" required />
            <p class="title">Email</p>
            <input type="email" id="Email" placeholder="Enter your email address" required />
            <p class="title">Contact Details</p>
            <input type="number" id="phone_number" placeholder="Whats app number preferred" required />
            <div class="select-list">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-submit">
            <input type="submit" name="submit" id="submit" class="submit" value="Submit" />
          </div>
          <div class="term">
            <p class="agree">By Clicking on the submit button you agree to the <a href="#">terms of service</a> and <a href="#">privacy policy</a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

