<section id="contact">
  <div class="row">
    <div class="col-sm-6">
      <div class="row block1">
        <div class="col-md-12">
          <h1>Let's Chat</h1>
          <h3>Fill this out so we can learn more about you and your need</h3>
        </div>
      </div>
      <div class="row block2">
        <div class="col-sm-12">
          <p>
            My name is <input type="text" placeholder="full name" /> and 
            I am in need of a partner to assist me with <input type="text" placeholder="my goals in a snapshot" />, with
            a goal of having it completed on or near <input  placeholder="date or timeframe" />. I am looking
            to stay around a budget of <input placeholder="budget" />.You can reach me at <input placeholder="email" />
            to get the conversation started. Thanks!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn "><h4>Send</h4></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6" id="bk"></div>
  </div>
</section>
