@media screen and (min-width:320px){
  #home {
    margin-top: 11%;
  }
}
@media screen and (min-width:768px) {
  #home {
    margin-top: 6%;
  }
}
@media screen and (min-width:1200px) {
  #home{
    margin-top:4%;
  }
}
section {
  background-attachment: fixed;
  background-image: url("/assets/images/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
