<section id="blog">

  <br />
  <div class="row">
    <div class="col-sm-6" id="bkimg1">
    </div>
    <div class="col-sm-6">
      <h2>
        What is an Assignment Help?
      </h2>
      <p id="script">
        A good research paper is a disciplined approach towards the culmination of finely articulated thoughts,
        which means more references to read and longer hours at the library.  Now understanding that a little
        help along the way would add more brightness to your days. We provide online assistance in providing reference
        papers to your unique needs which cut down your hours at work and improve your grades with greater passion.
      </p>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2>
        Why Help With Assignments?
      </h2>
      <p id="script">
        All too often, a student’s life at university revolves juggling between reading,
        researching, learning, having essays to write and deadlines to meet.
        Well just watching them all makes you exhausted,  stressed, anxious and really hard to see all the good.
        Hiring a professional academic writing service comes to ease the situation. It does not matter where you’re located.
        We at assignment corner help you smoothly ace at your academics. Order your papers right away to find progress in writing.
      </p>
    </div>
    <div class="col-sm-6" id="bkimg1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" id="bkimg1">
    </div>
    <div class="col-sm-6">
      <h2>
        Why is this treated as cheating?
      </h2>
      <p id="script">
        To answer this question we must first understand, what makes it questionable?
        Is It the purpose the essay is provided for or the intent
        It's received with?
        University tutors understand a superior paper in a blink,
        and for all students have to still face post submission evaluations. So how could custom writing be
        misunderstood and misrepresented as cheating?
      </p>
      <br />
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 animated fadeInUp">
        <h1 class="Heading">How Does It Work ?</h1>
      </div>
    </div>

    <div class="row" id="symbol">
      <div class="col-sm-3 animated fadeInUp">
        <img id="first1" src="assets/images/form.png" />
        <p id="first1">Write your requirements by filling the project submission form with no payment</p>
      </div>
      <div class="col-sm-3 animated fadeInUp">
        <img id="first2" src="assets/images/contact.png" />
        <p id="first2">Our writer will evaluate requirements and get in touch with you  </p>
      </div>
      <div class="col-sm-3 animated fadeInUp">
        <img id="first3" src="assets/images/Deposit.png" />
        <p id="first3">Place your order by submitting your deposit and our writer will begin immediately </p>
      </div>
      <div class="col-sm-3 animated fadeInUp">
        <img id="first3" src="assets/images/Assignment.png" />
        <p id="first3">Receive your paper within your deadlines and make payment </p>
      </div>


    </div>
  
</section>
