<div class="text animated fadeInUp" id="content">
  <h1 id="textdeco">
    Hire Most Affordable Writers From India
  </h1>
  <p class="text">
    To all the Indians studying abroad. We understand the pain of being away from home synthesizing
    to a hostile education system, culture, and doing that extra part-time job just to pay your bills,
    which leaves you with no adequate time to research a topic and complete an assignment. At Assignment
    Corner, you’re guaranteed professional academic writing solutions at most affordable prices. We have expert writers
    who understand your subject knowledge requirements, deep research and present your papers with exceptional writing skills.
  </p>
  <br />
  <h2 id="textdeco">
    Why Us?
  </h2>
  <p class="text">
    The answer is simple – to ease your stress and improve your grades
  </p>
  <ol>
    <li>
      <h3>Writers have experience:</h3>
      <p class="text">
        Past experience only mean they’ve tested skillsets and expertise you need
        An Assignment can be only as good as the sources used to produce it. Also,
        the most critical stage in which students tend to forgo is the literature review.
        Remember precise formation reflects accurate thoughts.  Our writers dive deep into
        the subject matter formulate a theme and structure your paper around the central theme
      </p>
    </li>
    <li>
      <h3>Plagiarism free writing:</h3>
      <p class="text">
        All our writings go through testing for plagiarism free organic writing and are proofread
        before presenting to you the final draft within the stipulated
        time frame
      </p>
    </li>
    <li>
      <h3>Customizing service to your specific needs:</h3>
      <p class="text">
        To your surprise, our writers know MLA, APA, Harvard and Chicago styles by heart and also
        custom cite as per your university acceptance criteria
      </p>
    </li>
    <li>
      <h3>Confidentiality Policy:</h3>
      <p class="text">
        All our communication between our clients and writers is kept confidential.
        We guarantee no paper shall be published online. Despite the above, if any issue
        arises, the client can write to us directly and we ensure to provide a viable solution within  24 hours
      </p>
    </li>
  </ol>
  <h1 id="textdeco">
    What are you waiting for? Book your slot now
  </h1>
</div>
